@import "./css/_reset.scss";



.container-phone{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
   
}

.calculator{
    width: 352px;
    background: $black;
 

    &__display{
    width: 100%;    
    }

    &__display-input{
        width: 100%;
        background: transparent;
        outline: transparent;
        border: 0;
        color: $white;
        font-size: calculator-rem(48);
        margin-bottom: 88px;   
        text-align: right;
    }

    &__display-result{
        color: $light-grey;
        font-size: calculator-rem(48);
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
    } 

    &__display-callback{
        margin-bottom: 20px;
    }

    &__display-callback::after{
        content: '';
        display: block;
        background: $background;
        width: 352px;
        height: 1px;
        margin: 20px 0px 25px 0px
    }

    &__buttons{        
        &--button{
            background: $grey;
            color: $white;
            width: 73px;
            height: 75px;
            border-radius: 9px;
            font-size: calculator-rem(36);
            border: 0;

            &:hover{
                background: lighten($grey, 30%);
            }
        }

        &--button-background-red{
            background: $red;
            color: $grey;

            &:hover{
                background: lighten($red, 10%);
            }
        }

        &--button-color-green{
            color: $green;
            font-size: calculator-rem(24);
        }

        &--button-color-grey{
            color: $grey;
        }

        &--button-background-green{
            background-color: $green;
            &:hover{
                background: lighten($green, 10%);
            }
        }
    }

    &__buttons-wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

}


